.highlight-box {
  background: radial-gradient(circle at top left, #6e6eff 0, transparent 20%),
    linear-gradient(90deg, $blue 80%, #5c5cff 100%);

  color: white;

  ::selection {
    background-color: $light-blue;
  }
}
